<form action='/order/delete_f' method = 'post'>
    <div class="form-group">
        <label for="name">Введите данные для удаления заявки</label>
        <br>
        <input type="text" placeholder="Москва"  name = 'where_f'> 
    </div>
    <button type="submit" class="btn btn-secondary">Подтвердить</button>
</form>