<h2>Что-то о сайте</h2>

<h4>Здесь моделируется обработка заявок на авиабилеты.</h4>

  
<h5>Возможные действия для рейсов:</h5>
<ul>
  <li>Просмотр списка рейсов</li>
  <li>Добавление рейса</li>
  <li>Удаление рейса</li>
  <li>Поиск рейса по заданным параметрам</li>
  <li>Постоение маршрута с пересадкой</li>
</ul>
<h5>Возможные действия для заявок:</h5>
<ul>
  <li>Просмотр списка заявок</li>
  <li>Добавление заявки</li>
  <li>Удаление заявки</li>
  <li>Удаление заявок по заданному параметру</li>
  <li>Поиск заявки по заданным параметрам</li>
  <li>Нахождение подходящих рейсов для заявок</li>
</ul>

