<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>
      Введите данные для поиска
    </h3>
  </div>
  <% if @errors && !@errors.empty? %>
    <div class="large-12 cell">
      <h4>Ошибка ввода данных</h4>
    </div>
    <% @errors.each do |error|%>
      <div class="large-12 cell callout alert">
        <%= error%>
      </div>
    <% end %>
  <% end %>
</div>

<form action="/select/scan_date_time" method="post">
   <div class="grid-x">
    <div class="large-6 cell">
      <label>Дата вылета
        <input type="date" name="date" value="<%= @date || '' %>">
      </label>
    </div>
  </div>
  <div class="grid-x">
    <div class="large-6 cell">
      <label>Время вылета
        <input type="time" name="time" value="<%= @time || '' %>">
      </label>
    </div>
  </div>
  <div class="grid-x">
    <div class="lagre-12 cell">
       <button type="submit" class="btn btn-secondary">Найти</button>
    </div>
  </div>
</form>